html, body {
    height: 100%;
}

h1 {
    text-align: center;
    padding: 10px;
}

.list-group {
    margin: auto;
    text-align: center;
}

.list-group .list-group-item a {
    color: black;
}

.list-group .list-group-item:hover {
    background-color: lightgray;
}

.main-container {
    overflow-y: scroll;   
}

.image-container {
    position: relative;
    height: calc(100% - 56px);
}

.image-container .artist-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    z-index: -1;
    filter: blur(3px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title {
    color: white;
    font-weight: bold;
    border: 3px solid;
    text-align: center;
}

.heading {
    text-align: left;
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.table {
    margin-top: 10px;
}

.song-link:hover {
    color: black;
    text-decoration: none;
}

.song-link, .album-link {
    color: black;
}

.row:hover {
    background-color: lightgray;
}


.card-title, .dropdown {
    text-align: center;
}

.card {
    display: inline-flex;
}

.row-cols-3 {
    display: inline;
}